<div class="modal fade position-relative" id="register-modal">
  <div class="modal-dialog position-absolute top-50 start-50 translate-middle">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title login100-form-title">Register An Account</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <form id="register-form" class="login100-form validate-form">
          <div
            class="wrap-input100 validate-input"
            data-validate="Employee code is required!"
          >
            <input
              id="emp-code"
              class="input100"
              type="text"
              name="Emp_Code"
              placeholder="Employee Code"
            />
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
          </div>
          <div
            class="wrap-input100 validate-input"
            data-validate="Valid email is required: ex@abc.xyz"
          >
            <input
              id="email"
              class="input100"
              type="text"
              name="Email"
              placeholder="Email"
            />
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
          </div>
          <div
            class="wrap-input100 validate-input"
            data-validate="Password is required"
          >
            <input
              id="password"
              class="input100"
              type="password"
              name="Password"
              placeholder="Password"
            />
            <span class="focus-input100"></span>
            <span class="symbol-input100"><i
                class="fa fa-lock"
                aria-hidden="true"
              ></i></span>
          </div>
          <div
            class="wrap-input100 validate-input"
            data-validate="Confirm password is required"
          >
            <input
              id="confirm-password"
              class="input100"
              type="password"
              name="Confirm_Password"
              placeholder="Confirm Password"
            />
            <span class="focus-input100"></span>
            <span class="symbol-input100"><i
                class="fa fa-lock"
                aria-hidden="true"
              ></i></span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="sign-up-btn" class="btn btn-success">Sign Up</button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
        >Close</button>
      </div>
    </div>
  </div>
</div>