<div class="limiter container-fluid justify-content-center">
  <div class="container-table100 container">
    <div class="row justify-content-center">
      <button type="button" class="col-10 col-sm-10 col-md-4 col-lg-5 col-xl-5 btn-dark btn-lg txt1 shadow">Upload Payslip Data</button>
      {{!-- <p class="col-md-1 col-lg-1 col-xl-1 col-0"></p> --}}
      <button type="button" class="col-10 col-sm-10 col-md-4 col-lg-5 col-xl-5 btn-dark btn-lg txt1 shadow">Upload Account Data</button>
    </div>
    <div class="row justify-content-center">
      <button 
      type="button" 
      class="col-10 col-sm-10 col-md-6 btn-dark btn btn-lg txt1 shadow " 
      alt="This will clear all payslip data on web's database, user should clear data once per year to avoid memory shortage">Clear Payslip Data</button>
    </div>
</div>