<div class="upload-container" id="uploadContainer">
    <h1>Upload Multiple Excel Files</h1>
    <input type="file" id="fileInput" multiple accept=".xlsx, .xls">
    <p>Or drag and drop files here</p>
    <div class="file-list" id="fileList"></div>
    <input type="submit" value="Submit">
</div>